*{
	padding:0px;
	margin:0px;
}
.width{
	width:960px;
}
.top_bar ul{
	list-style:none;
}
.top_bar ul li{
	padding:0px;
	margin:0px;
	height:160px;
	width:960px;
	background-image:url(image/N+Sut.png);
	border:0px solid white;
	text-align:center;
	line-height:185px;
	float:left;
	margin:auto;
	position:fixed;
}
.top_bar ul li a{
	text-decoration:none;
	color:#a0cc3a;
	display:block;
	font-size:50;
	padding-left:700px;
}
#Sut{
	padding-top:230px;
}